.services .slider {
    width: 100%;
    background-image: url(../assets/images/services-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 45px 0px;
    height: auto;
}
.services .style_title {
    background-image: url(../assets/images/patrServer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
}

.services .section__title {
    font-size: 3vw;
    margin-top: 3vh;
    font-family:  Gotham-Bold;
}

.services .btn_serv {
    background-color: #61b848;
    color: #fff;
    padding: 0.5rem 3rem;
    font-size: 1.3vw;
    border: 0;
}
.services h5 {
    font-size: 3vw;
    font-family:  Gotham-Bold;
}